<h1> edit Contact </h1>

<form action="/contacts/<%=@contact.id%>" method="patch">
  <div> 
    first name: <input type="text" name="first_name">
  </div>
   <div> 
    last name: <input type="text" name="last_name">
  </div>
   <div> 
    email: <input type="text" name="email">
  </div>
   <div> 
    phone number: <input type="text" name="phone_number">
  </div>
   <div> 
    middle name: <input type="text" name="middle_name">
  </div>
   <div> 
    bio: <input type="text" name="bio">
  </div>
  <div> 
    user_id: <input type="text" name="user_id">
  </div>
  <div>
    <button type="submit"> edit contact </button>
  </div>
</form>
